{# 这是基础模版1 适用于注册和登陆界面#}
<!doctype html>
<html lang="zh-CN">
{% load static %}
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% block extcss %}{% endblock %}
{% block extjs %}{% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>
