{% extends 'BackWeb/base/base1.html' %}
{% load static %}
{% block title %}异清轩博客管理系统{% endblock %}
{% block extcss %}
{% endblock %}
{% block content %}
  <div class="container">
    <div class="siteIcon">
        <img src="{% static 'images/icon/icon.png' %}" alt="" data-toggle="tooltip" data-placement="top" title="欢迎使用异清轩博客管理系统" draggable="false" />
    </div>
  <form action="" method="post" autocomplete="off" class="form-signin">
    <h2 class="form-signin-heading">管理员登录</h2>
    <p>用户名<input type="text" id="username" name="username" class="form-control" placeholder="请输入用户名" required autofocus autocomplete="off" maxlength="10"></p><br>
    <p>密码<input type="password" id="password" name="password" class="form-control" placeholder="请输入密码" required autocomplete="off" maxlength="18"></p><br>
    <button class="btn btn-lg btn-primary btn-block" type="submit" id="signinSubmit">登录</button>
  </form>
  <div class="footer">
      <p><a href="{% url 'back_web:register' %}">去注册→</a></p><br>
    <p><a href="" data-toggle="tooltip" data-placement="left" title="不知道自己在哪?">回到后台 →</a></p>
  </div>
</div>
{% endblock %}
